<footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    &copy; 2016
                    <a target="_blank" href="http://www.minneapolisballetdancers.org" title="Minneapolis Ballet Dancers">
                        Minneapolis Ballet Dancers
                    </a>. All Rights Reserved.
                    <h6>Designed by:
                    <a target="_blank" href="http://www.aait.tech" title="A&A IT Services">
                        A&A IT Services
                    </a>.
                    </h6>

                </div>
                <div class="col-sm-4">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
</footer>