{% extends "mbd_template/base.html" %}
{% load cms_tags menu_tags sekizai_tags staticfiles analytical %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block content %}
    {% include "mbd_template/partials/header.html" %}

    <section id="main-slider" class="no-margin carousel">
        {% placeholder "main_slider" %}
    </section><!--/#main-slider-->

    <section id="feature">

    </section>

    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                {% placeholder "studio_header" %}
            </div>

            <div class="row">
                {% placeholder "studio_pictures" %}
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->

    {% include "mbd_template/partials/footer.html" %}
{% endblock content %}